@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e8e8e8;
  --secondary: white;
  --tertiary: black;
}
html {
  font-size: 12px;
}
body {
  background-color: white;
  font-family: "Outfit";
  font-weight: 300;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 0 10vw;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
select {
  background-color: var(--primary);
  outline: none;
}
.main-btn {
  transition: all 0.3s ease;
}
.main-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.tag {
  transition: all 0.3s ease;
}
.tag:hover {
  transform: scale(1.03);
}
.small-btn {
  transition: all 0.3s ease;
}
.small-btn:hover {
  transform: scale(1.05);
}
/* Media Query */
@media screen and (max-width: 1024px) {
  body {
    padding: 0;
  }
}
@media screen and (max-height: 875px) {
  body {
    overflow-y: scroll;
  }
  #app {
    height: 875px;
  }
}
